.doubleCargoMsg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    max-width: 250px;
    border: 5px solid red;
    border-radius: 3px;
    z-index: 2;
    background-color: #fff;
    p {
        margin: 0 0 20px 0 ;
    }
}