@import './components/reset';
@import './components/variables';
@import './components/_mixins.scss';
@import './components/typography';
@import './components/form';



.App {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
}